<h1> Chatprogram</p>
<%= form_for :post do |f| %>
	<p>
    <%= f.text_area :message, :size=>"40x20" %>
  	</p>

 	<p>
    <%= f.text_field :message, :size=>"40"%> <%= f.submit :broadcast_string %>
 	</p>
  <p>
   
  </p>
<% end %>

<%= link_to 'Back', users_path %>